body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f6fa;
}

header {
  background: #3558ff;
  color: white;
  padding: 30px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
}

input, select {
  width: 100%;
  padding: 12px;
  margin: 8px 0 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 14px;
  background: #3558ff;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  opacity: 0.9;
}

.list-section ul {
  list-style: none;
  padding: 0;
}

.event-item {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-box {
  width: 80%;
}

.delete-btn {
  background: red;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
